<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/toast.css}">
    <link rel="stylesheet" th:href="@{/css/error.css}">
    <script th:src="@{/js/toast.js}" defer></script>
    <script src="https://unpkg.com/@solana/web3.js@1.30.2/lib/index.iife.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div th:insert="~{parts/_header.html :: header}"></div>
    <div class="error-page-message">
        <p class="error-type" th:text="${errorType}"></p>
        <p class="error-message" th:text="${errorMessage}"></p>
    </div>
</body>
</html>