body {
    overflow: hidden;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 999;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
    min-width: 300px;
    gap: 20px;
    background-color: var(--secondary-color);
    padding: 8px;
    border-radius: 100px;
    height: 30px;
}

.search-box img {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    /*transition: 0.2s;*/
}

.search-box img:hover {
    filter: var(--filter-white-shadow);
}

.search-box input[type = "text"] {
    margin: 0;
    height: 1rem;
    background: transparent;
    text-align: center;
    caret-color: var(--primary-color);
}

.search-box input[type = "text"]:focus {
    outline: none;
}

.search-config {
    position: fixed;
    right: -200%;
    width: 250px;
    background-color: var(--secondary-color);
    overflow: visible;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    z-index: 999;
    border-radius: 7px 0 0 7px;
}

.search-config-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.search-config-form span {
    cursor: context-menu;
}

.search-config-form-item {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin: 5px 0;
    color: var(--text-color);
}

.open-search-config {
    right: 0;
}
.search-config-property {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--background-color);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background 0.2s, border-color 0.3s;
}


.search-config-property:checked {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.search-config-property:checked:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--background-color);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


.close-sidebar {
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: rotate(0);
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: -30px;
    z-index: 1000;
    padding: 10px;
    transition: 0.2s;
}

.close-sidebar:hover {
    filter: var(--filter-white-shadow);
}

.line-icon {
    display: block;
    width: 4px;
    height: 15px;
    border-radius: 5px;
    background-color: #4a4d52;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.line-bottom {
    border-radius: 0 0 5px 5px;
}
.line-top {
    border-radius: 5px 5px 0 0;
}

.close-sidebar:hover .line-icon:first-child {
    transform: translateY(3px) rotate(-45deg);
    background-color: white;
}

.close-sidebar:hover .line-icon:last-child {
    transform: translateY(-3px) rotate(45deg);
    background-color: white;
}

.category-info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    width: 70%;
    margin-bottom: 20px;
}

#popup {
    width: max(50%, 500px);
    height: 95%;
}
.popup-name {
    margin-top: 0.5rem;
}

#popup-product-image {
    width: 7em;
}

#popup-product-description {
    width: 80%;
    overflow: auto;
    height: max(50vh, 200px);
    border-radius: 10px;
    margin: 0;
    color: var(--text-color);
    border: 1px solid var(--secondary-contrast-color);
    padding: 15px;
}

.popup-product-info p {
    margin: 0;
    color: var(--text-color);
}

.popup-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-product-info > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    border: 1px solid var(--secondary-contrast-color);
    padding: 15px;
    margin-bottom: 30px;
}


.popup-product-buy {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 15em;
    background-color: var(--secondary-contrast-color);
    padding: 10px;
    border-radius: 10px;
}

.popup-product-buy > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#popup-product-price {
    color: var(--price-text-color);
}

.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-ticker {
    font-size: 0.7rem;
    margin-left: 2px;
    color: var(--text-color);
}

h3 {
    margin: 0;
    color: var(--price-text-color);

}

#popup-buy-button {
    background-color: var(--href-color);
    border: none;
    border-radius: 4px;
    color: white;
    height: 2rem;
    font-size: 0.8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#popup-buy-button:hover {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: waitingShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, var(--href-color) 8%, #7c7cc9 18%, var(--href-color) 33%);
}

@keyframes waitingShimmer {
    0% {
        background-position: -220px 0;
    }
    100% {
        background-position: 220px 0;
    }
}

.popup-product-status-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

#buy-loader {
    border-top: 5px solid var(--href-color);
}

#popup-buy-button.button-disabled {
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: not-allowed;
}

#popup-buy-button.button-disabled,
#popup-buy-button.button-disabled:hover {
    animation: none;
    background: var(--background-color);
}
